<h3>Products</h3>
<p>
  <% if admin %>
    <%= link_to 'Add Product', new_product_path %>
  <% end %>
</p>
<div class="row">
  <div class="section">
    <div class="col s8">
        <% @products.each do |product| %>
          <div class="col s6">
            <%= link_to product, remote: true do %>
              <h4><%= product.name %></h4>
            <% end  %>
            <p>
              <% if admin %>
                <span id="edit-product-info">
                  <%= link_to 'Edit', edit_product_path(product), class: 'edit-product-btn' %>
                  <%= link_to 'Delete', product_path(product), method: 'delete', :data => {:confirm => "You sure?"}, class: 'delete-product-btn'%>
                </span>
              <% end %>
            </p>
            <p><%= product.description %></p>
            <p><%= number_to_currency product.price %></p>
            <%= form_for @order_item, remote: true do |f| %>
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.number_field :quantity, placeholder: "Select quantity", min: 1 %>
              <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
            <% end %>
          </div>
        <% end %>
    </div>
    <div class="col s4">
      <div id="product-show">

      </div>
    </div>
  </div>
</div>
